<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
    <title>WEB</title>
</head>
<header>
    <nav>
        <ul>
            <li>
                <a href="/usuarios">Usuários</a>
            </li>
            <li>
                <a href="/pizzas">Pizzas</a>
            </li>
            <li>
                <a href="/pdiddy">Pedidos</a>
            </li>
        </ul>
    </nav>
</header>
<body>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>